.chats{
    max-width: 44rem;
    overflow-y: scroll;
    padding: 8rem;
    overflow-y: auto;
    scrollbar-width: none; 
    -ms-overflow-style: none;
}
.chats::-webkit-scrollbar {
  display: none;
}
.userDiv{
    display: flex;
    justify-content: flex-end;
    font-size: 0.9rem;
}

.gptDiv{
    text-align: left;
    font-size: 0.9rem;
}

.userMessage{
    background-color: #323232;
    padding: 0.6rem 1.25rem;
    border-radius: 0.9rem;
    margin-left: 15rem;
    max-width: 31.25rem;
    width: fit-content;
}

.hljs{
    border-radius: 0.9rem;
}
pre{
    white-space: pre-wrap;
}

/* Table */
.gptDiv table {
  width: 100%;
  border-collapse: collapse;
  margin: 1rem 0;
}

.gptDiv th,
.gptDiv td {
  border: 1px solid #444;
  padding: 10px;
  text-align: left;
}

.gptDiv th {
  background: #222;
}

.gptDiv tr:nth-child(even) {
  background: #181818;
}